.header {
    color: #fff;
    background: #ff0037;
}

.markdown-body a {
    color: #ff0037;
}

a {
    color: #000000;
    text-decoration: none;
}

.content-wrap {
    max-width: 1280px;
}

// img {
//     width: 100%;
//     height: auto;
// }